<!-- Product Center Sidebar -->
<div class="product-sidebar">
    <h2 class="sidebar-header">{{ content.product_center }}</h2>
    <div class="sidebar-menu">
        <a href="{{ url_for('panel_chamber') }}" class="menu-item">
            {{ content.nav_panel_chamber }}
        </a>
        <a href="{{ url_for('wedge_chamber') }}" class="menu-item">
            {{ content.nav_wedge_chamber }}
        </a>
        <a href="{{ url_for('soundproof_boxes') }}" class="menu-item">
            {{ content.nav_boxes }}
        </a>
        <a href="{{ url_for('silent_rooms') }}" class="menu-item">
            {{ content.nav_rooms }}
        </a>
        <a href="#" class="menu-item">
            {{ content.nav_listening_room }}
        </a>
        <a href="#" class="menu-item">
            {{ content.nav_silent_room }}
        </a>
        <a href="#" class="menu-item">
            {{ content.nav_isolation_room }}
        </a>
        <a href="#" class="menu-item">
            {{ content.nav_reverb_room }}
        </a>
        <a href="#" class="menu-item">
            {{ content.nav_production_test }}
        </a>
        <a href="#" class="menu-item">
            {{ content.nav_test_equipment }}
        </a>
    </div>
</div>
