{% extends "base.html" %}

{% block content %}
<section class="full-patent-view">
    <div class="container-fluid">
        <div class="text-center">
            <img src="{{ url_for('static', filename='images/patents/patent' + number|string + '.jpg') }}" 
                 alt="Full Patent Certificate {{ number }}" 
                 class="full-patent-image">
            <a href="{{ url_for('honorary_qualification') }}" class="btn btn-primary patent-back-button">Back to Certificates</a>
        </div>
    </div>
</section>
{% endblock %}